@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --page-background : #F2F2F2;
    --profile-search-container:#F27141;
    --search-element-container-background:#598079;
    --font-family:'Atkinson Hyperlegible','mono';
    --font-size : 1.2rem;
    --letter-spacing:.25rem;
    --transition : all .3s linear;
    --button-background:#253659;
    --btn-text-color:#fff;
    --box-shadow: 0 8px 18px #8C2703;
    --text-shadow:0 5px 10px #524b4b;
    --box-border-radius:.45rem;
    --border-rad : 4.2rem;
    --output-div-background:#A6653F;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    font-family:var(--font-family);
    height:100vh;
    width:100vw;
}
.profile-search{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.title h2{
    font-size: 2rem;
    text-align:center;
    letter-spacing: var(--letter-spacing);
    padding :1rem 0;
    text-shadow:var(--text-shadow);

}
.title p{
    font-size: 1.3rem;
    padding:0rem,1rem;
    font-weight:700;
    color: #2f9786;
    text-shadow:var(--text-shadow);
    margin-bottom: 2rem;
}
.search-container{
    background-color:var(--profile-search-container);
    height:10%;
    width:80%;
    border-radius: var(--border-rad);
    box-shadow: var(--box-shadow);

} 
.search-elements-container{
    background: var(--search-element-container-background);
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
   border-radius: var(--border-rad);
}
input[type ="text"]{
    background:transparent;
    border:none;
    height:100%;
    width:100%;
    color:#fff;
    font-size: 1.1rem;
    outline:none;
    padding-left:1rem;
}
.btn{
    background-color:var(--button-background);
    color: var(--btn-text-color);
    border: none;
    height:100%;
    width:30%;
    border-radius:var(--border-rad);
    font-size:1rem;
    letter-spacing:var(--letter-spacing);
    &:hover{
        background-color:#010626;
        transition: background-color .3s linear;
        transform:scale(1.02);
    }
}
.loader{
    display:none;
    width:3.6rem;
    height:3.6rem;
    border:3px solid #f3f3f3;
    border-top:5px solid #3498db;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin:1.6rem auto;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform : rotate(360deg);
    }
    
}
.output{
    text-align: center;
    line-height:2rem;
    visibility: hidden;
    height:100;
   width:100%;
   background-color:#A6653F;
   opacity:.8;
   padding:2rem;
   margin-top:3rem;
   border-radius:var(--box-border-radius);
   font-size:1.2rem;
   color: aliceblue;
   box-shadow:0px 5px 15px rgb(102, 97, 91);
 
}
img{
    border-radius: 50%;
    box-shadow:0px 5px 15px rgb(114, 3, 3);
    margin-top:.8rem;
}
@media screen  and(max-height: 90vh) {
    .btn{
        padding:.5rem;
    }
}